$breakpoints: (
  mobile-max: 767px,
  tablet-min: 768px,
  tablet-max: 1023px,
  desktop-min: 1024px,
  desktop-xl-min: 1281px,
);

:root {
  --desktop-nav-height: 4.5rem;
  --mobile-header-height: 5rem;
  --desktop-breadcrumb-height: 2.75;
  --total-header-height: calc(var(--desktop-nav-height) + var(--desktop-breadcrumb-height));
  --footer-height: 20rem;
  --expect-body-height: calc(var(--footer-height) + var(--total-header-height))

}
